*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button,
select {
  border: none;
  background: none;
  outline: none;
}

*:not(input):not(textarea) {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background: transparent;
}

textarea {
  resize: none;
}

svg {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
