.Alert {
  width: 100%;
  padding: var(--fl-padding-812);
  display: flex;
  align-items: center;
  gap: var(--fl-gap-16);
  border-radius: var(--fl-radius-14);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  user-select: none;
  .icon {
    border-radius: var(--fl-radius-9999);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--fl-padding-8);
    transition: background-color 0.3s ease;
  }
  .text {
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.alert_default {
  color: var(--fl-colors-default-900);
  background-color: var(--fl-colors-default-100);
  .icon {
    background-color: var(--fl-colors-default-200);
  }
}
.alert_primary {
  color: var(--fl-colors-blue-500);
  background-color: var(--fl-colors-primary-50);
  .icon {
    background-color: var(--fl-colors-primary-100);
  }
}
.alert_secondary {
  color: var(--fl-colors-purple-400);
  background-color: var(--fl-colors-secondary-50);
  .icon {
    background-color: var(--fl-colors-secondary-100);
  }
}
.alert_success {
  color: var(--fl-colors-green-600);
  background-color: var(--fl-colors-success-50);
  .icon {
    background-color: var(--fl-colors-success-100);
  }
}
.alert_warning {
  color: var(--fl-colors-yellow-600);
  background-color: var(--fl-colors-warning-50);
  .icon {
    background-color: var(--fl-colors-warning-100);
  }
}
.alert_danger {
  color: var(--fl-colors-red-600);
  background-color: var(--fl-colors-danger-50);
  .icon {
    background-color: var(--fl-colors-danger-100);
  }
}
